# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.tfplan

# Mac OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Build artifacts & Azure Functions
function_app.zip
hello_function.zip
.azurefunctions/
local.settings.json