# Terraform-specific files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json

# Build artifacts
hello_function.zip